%section.buy
  .buy__box
    %h2 購入確認画面
    .buy__box__item
      .buy__box__item-img
        = image_tag 'levis.jpg', height: '90', width: '90', class: 'item-img'
      .buy__box__item-bottom
        .buy__box__item-bottom-name
          Levi's リーバイス Tシャツ 半袖
        .buy__box__item-bottom-price
          .price__tax 送料込み (税込)
          .mark ¥ 
          .price 900
    .line
    .buy__price
     